body {
  font-family: Arial, sans-serif;
  background-image:url(OIP.jpeg);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin:150px auto;
  padding: 20px;
  background-color: #1f283373;
  border-radius: 10px;
  box-shadow: 0 0 10px #66fcf1;
  width: 50%;
  height: 200px;
}

h1 {
  text-align: center;
  color: #66fcf1;
  font-size: 40px;
}

.search-box {
  display:flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;

}

#searchInput {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

#searchButton {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #66fcf1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #2cfff6;
}

#characters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-left:25%;
  width: 700px;
}

.character {
  background-color: #132845a0;
  padding: 20px;
  border-radius: 8px;
  margin-top: 70px;
  
}
